body{
    background-color: rgb(24, 82, 12);
}

h1{
    color: rgb(150, 137, 137);
    font-size: 75px;
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}
h2{
    color:  rgb(150, 137, 137);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}

h3{
    color: rgb(150, 137, 137);
    font-size:smaller;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}